<div class="card-form-container">
    <h2>Ajouter une carte</h2>
  
    <form (ngSubmit)="addCard()" class="card-form">
      <!-- Nom de la carte -->
      <div class="form-group">
        <label for="cardName">Nom :</label>
        <input
          type="text"
          id="cardName"
          [(ngModel)]="cardName"
          name="cardName"
          required
          placeholder="Nom prenom"
        />
      </div>
  
      <!-- Numéro de la carte -->
      <div class="form-group">
        <label for="cardCode">Numero de carte:</label>
        <input
          type="text"
          id="cardCode"
          [(ngModel)]="cardCode"
          name="cardCode"
          required
          placeholder="1234 5678 9876 5432"
          maxlength="19"
        />
      </div>
  
      <!-- Code CCV -->
      <div class="form-group">
        <label for="cardCcv">CCV:</label>
        <input
          type="text"
          id="cardCcv"
          [(ngModel)]="cardCcv"
          name="cardCcv"
          required
          placeholder="123"
          maxlength="3"
        />
      </div>
  
      <!-- Expiration -->
      <div class="form-group">
        <label for="cardExpiry">Date d'expiration:</label>
        <input
          type="month"
          id="cardExpiry"
          [(ngModel)]="cardExpiry"
          name="cardExpiry"
          required
        />
      </div>
  
      <!-- Boutons -->
      <div class="form-actions">
        <button type="submit" class="btn-submit">Ajouter</button>
        <button type="button" class="btn-reset" (click)="resetForm()">Reset</button>
      </div>
    </form>
  </div>
  