/* Conteneur principal */
main {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #7c4dff4b;
    border-radius: 10px;
    color: #dcd6f7; /* Texte pastel */
}

/* Titre principal */
h2 {
    font-size: 28px;
    color: #b388ff; 
    text-align: center;
    margin-bottom: 20px;
}

/* Article du panier */
.cart-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
    border-bottom: 1px solid #7c4dff4b;
    padding-bottom: 15px;
    justify-content: space-between; /* Espacement entre l'image et les autres informations */
}

.cart-item-info {
    display: flex;
    align-items: center;
    flex-grow: 1; 
}

.cart-item-image {
    width: 130px; /* Taille de l'image */
    height: auto;
    margin-right: 15px; /* Espacement entre l'image et les informations du produit */
    border-radius: 8px; /* Ajouter un arrondi à l'image */
}

.cart-item-details {
    display: flex;
    flex-direction: column; /* Afficher le nom, prix et quantité en colonne */
}

.item-name {
    font-size: 18px;
    font-weight: bold;
}

.item-price,
.item-quantity {
    font-size: 16px;
}

/* Actions sur l'article */
.cart-item-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-actions button {
    padding: 8px 12px;
    background-color: #7c4dff; /* Violet vif pour les boutons */
    color: #ffffff; /* Texte blanc */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-item-actions button:hover {
    background-color: #9a67ea; 
}

/* Total panier */
.panier-total {
    text-align: right;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #dcd6f7;
}

.panier-total span {
    color: #7c4dff; 
}

/* Message panier vide */
.empty-message {
    text-align: center;
    font-size: 18px;
    color: #9a67ea; 
}

/* Responsive */
@media (max-width: 600px) {
    main {
        padding: 15px;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item-actions {
        justify-content: flex-start;
        margin-top: 10px;
    }

    .cart-item-actions button {
        width: 100%;
    }

    .panier-total {
        text-align: center;
    }
}

/* Bouton Payer */
.payment-button {
    text-align: center;
    margin-top: 20px;
}

.payment-button .btn-pay {
    padding: 10px 20px;
    background-color: #1915fc;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-button .btn-pay:hover {
    background-color: #3532fc; 
}
