<main>
  <h1>Profil Utilisateur</h1>

  <div class="profile-container">
    <!-- Affichage des informations utilisateur -->
    <form *ngIf="!isEditing; else editTemplate">
      <div class="profile-item">
        <label>Email:</label>
        <input type="text" [value]="email" disabled />
      </div>
      <div class="profile-item">
        <label>Username:</label>
        <input type="text" [value]="username" disabled />
      </div>
      <button class="edit-btn" type="button" (click)="toggleEdit()">Modifier</button>
    </form>

    <!-- Section des cartes bancaires -->
    <div class="profile-item">
      <h2>Vos Cartes Bancaires</h2>

      <!-- Liste des cartes existantes -->
      <div class="profile-item">
        <h3>Cartes Enregistrées</h3>
        <app-display-card></app-display-card>
      </div>

      <!-- Formulaire d'ajout d'une carte -->
      <div class="profile-item">
        <app-card-form></app-card-form>
      </div>
    </div>

    <!-- Formulaire de modification des informations utilisateur -->
    <ng-template #editTemplate>
      <form (submit)="saveChanges()">
        <div class="profile-item">
          <label>Email:</label>
          <input type="text" [(ngModel)]="email" name="email" required />
        </div>
        <div class="profile-item">
          <label>Username:</label>
          <input type="text" [(ngModel)]="username" name="username" required />
        </div>
        <button class="btn-changes" type="submit">Enregistrer</button>
        <button class="btn-changes" type="button" (click)="toggleEdit()">Annuler</button>
      </form>
      
    </ng-template>
  </div>
</main>
