<main>
    <div *ngIf="!isAuthenticated">
        <div class="auth">
            <h2 *ngIf="!isRegisterMode">Connexion</h2>
            <h2 *ngIf="isRegisterMode">Inscription</h2>
    
            
            <p *ngIf="!isRegisterMode" class="register-text">
                Vous êtes un nouvel utilisateur ? <a (click)="toggleMode()">Créez un compte</a>
            </p>

            <p *ngIf="isRegisterMode" class="register-text">
                Vous avez déjà un compte ? <a (click)="toggleMode()">Connectez-vous</a>
            </p>
            
            <form (submit)="authenticate()" class="auth-form">
                <div *ngIf="isRegisterMode">
                    <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required />
                </div>
                <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
                <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
                <button type="submit" class="auth-submit">{{ isRegisterMode ? 'Register' : 'Login' }}</button>
            </form>
    
            
        </div>
    </div>
    
    <div *ngIf="isAuthenticated">
        <div class="auth">
            {{ displayUsername$ | async }}
           <a routerLink="/profil">Accéder à mon profil</a>
           <a routerLink="/profil">Accéder à mes cartes</a>
            <button (click)="logout()" class="auth-logout">Se déconnecter</button>
        </div>
    </div>  

</main>


