/* Conteneur principal */
main {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #7c4dff4b;
    border-radius: 10px;
    color: #dcd6f7; /* Texte pastel */
}

p {
    padding-top: 10px;
}


/* On applique un effet au focus */
input:focus {
    outline: none;
    border-color: #e0b3ff;
    box-shadow: 0 0 5px #e0b3ff;
}

/* Lorsque l'input est en hover (survol) */
input:hover {
    border-color: #9a67ea;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #7c4dff4b;
    font-size: 16px;
    border-radius: 5px;
    background-color: black !important;
    color: #dcd6f7; 
    transition: border 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

}

input:focus {
    outline: none;
    border-color: #e0b3ff; /* Couleur principale au focus */
    box-shadow: 0 0 5px #e0b3ff;
}

input:hover {
    border-color: #9a67ea; /* Bordure violet intermédiaire */
  }


/* Authentification */
.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-switch {
    background-color: transparent;
    border: none;
    color: #7c4dff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    text-decoration: underline;
}

.auth-switch:hover {
    color: #9a67ea;
}




/* Formulaire d'authentification */
.auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #7c4dff4b;
    border-radius: 5px;
    background-color: black;
    color: #dcd6f7;
    font-size: 16px;
    transition: border 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.auth-form input:focus {
    outline: none;
    border-color: #e0b3ff;
    box-shadow: 0 0 5px #e0b3ff;
}

.auth-form button {
    padding: 10px;
    background-color: #7c4dff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.auth-form button:hover {
    background-color: #9a67ea;
}

.auth-submit {
    width: 100%;
}


/* Bouton de déconnexion */
.auth-logout {
    padding: 8px 16px;
    background-color: #9e2c2c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.auth-logout:hover {
    background-color: #ff1a1a;
}

/* Lien de profil */
.auth a {
    text-decoration: none;

    color: #7c4dff;
    margin-top: 10px;
    font-size: 16px;
}

.auth a:hover {
    color: #9a67ea;
}

/* Responsive */
@media (max-width: 600px) {
    main {
        padding: 15px;
    }

    .auth-form input {
        font-size: 14px;
    }

    .auth-form button {
        font-size: 14px;
    }
}
