/* Conteneur des cartes de produits */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacement entre les cartes */
    justify-content: center;
    padding: 20px;
  }
  
  /* Carte d'un produit */
  .product-card {
    /* background-color: #1a0124; /* Fond foncé (équivalent de #0d0017) */
    /* border: 1px solid #7c4dff4b; Bordure rose pastel */ 
    border-radius: 8px; /* Coins arrondis */
    width: 400px; /* Largeur de chaque carte */
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce pour la carte */
    transition: transform 0.5s ease; /* Effet de zoom au survol */
  }
  
  /* Zoom sur la carte au survol */
  .product-card:hover {
    transform: scale(1.03);
    /* border-color: #9a67ea; */
  }
  
  /* Image du produit */
  .product-image {
    width: 100%;
    height: 400px;
    object-fit: cover; /* Couvre l'espace sans déformer l'image */
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  /* Détails du produit (nom et prix) */
  .product-details {
    color: #d3b6f4; /* Texte rose pastel pour la lisibilité sur fond foncé */
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
    color: #d3b6f4; /* Rose pastel accentué pour le nom */
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 16px;
    color: #d3b6f4; /* Rose pastel soutenu pour le prix */
    margin-bottom: 15px;
  }
  
  /* Style du bouton "Ajouter au panier" */
  .product-add-to-cart {
    padding: 10px 15px;
    background-color: #b388ff; /* Fond rose pastel clair pour le bouton */
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px #e0b3ff;
  }
  
  /* Changer la couleur du bouton au survol */
  .product-add-to-cart:hover {
    background-color: #936dfa; /* Rose plus foncé au survol */
    
  }
  
  /* Responsive pour les petits écrans */
  @media (max-width: 768px) {
    .product-card {
      width: 100%; /* Les cartes prennent toute la largeur sur mobile */
    }
  }
  