<main>
    <h1>Inscription</h1>
    <form (submit)="check()" class="form-container">
  
      <div class="form-group">
        <label for="username">Email</label>
        <input id="username" [(ngModel)]="username" placeholder="Entrez votre nom d'utilisateur">
      </div>
  
      <div class="form-group full-width">
        <label for="pwd">Mot de passe</label>
        <input type="password" id="pwd" [(ngModel)]="pwd" placeholder="Entrez votre mot de passe">
      </div>
      <div class="form-group full-width">
        <label for="confirmPwd">Confirmez le mot de passe</label>
        <input type="password" id="confirmPwd" [(ngModel)]="confirmPwd" placeholder="Confirmez votre mot de passe">
      </div>
  
      <div *ngIf="errorTxt" class="error">{{ errorTxt }}</div>
      <button type="submit" class="submit-btn">S'inscrire</button>
    </form>
    <div *ngIf="IsDiplay" class="success">Inscription réussie ! Bienvenue {{ username }}.</div>
  </main>
  