
  
  <main class="main-content">
    <section class="feature-section">
        <p>photos d'une autre réalité</p>

      <div class="featured-photos">

        <div class="photo-card">
          <img src="../../assets/images/civic1.jpg" alt="Style Ruthless 1">
        </div>

        <div class="photo-card">
          <img src="../../assets/images/sr4.jpg" alt="Photo Artistique 2">
        </div>

        <div class="photo-card">
          <img src="../../assets/images/sr7.jpg" alt="Photo Artistique 3">
        </div>

      </div>
      
    </section>
  
    
  </main>
  
  