
  
  <main class="main-content">
    <section class="feature-section">
        <p>photos d'une autre réalité</p>

      <div class="featured-photos">

        <div class="photo-card">
          <img src="https://i.ibb.co/Gkr9Q3R/civic1.jpg" alt="Civic" border="0">
        </div>

        <div class="photo-card">
          <img src="https://i.ibb.co/ZK4gJjR/sr4.jpg" alt="Style Ruthless 4">
        </div>

        <div class="photo-card">
          <img src="https://i.ibb.co/d5wLHb2/sr7.jpg" alt="Style Ruthless 7">
        </div>

      </div>
      
    </section>
  
    
  </main>
  
  